# Supabase
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
DATABASE_URL=your_database_url

# External APIs
OPENWEATHERMAP_API_KEY=your_weather_api_key
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your_google_maps_api_key

# Auth
AUTH_SECRET=your_auth_secret
AUTH_URL=http://localhost:3000

# Google
AUTH_GOOGLE_ID="google_client_id"
AUTH_GOOGLE_SECRET="google_client_secret"